.future-container {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;

    margin-top: 1vh;
    min-height: 80vh;

    /* min-height: 600px; */
}

.future {
    color: white;
    margin-top: 60px;
}

.future-title {
    justify-content: center;
    margin: auto;
    
}

.future-content {
    font-size: 1.9em !important;
    justify-content: center !important;
    text-align: start !important;
    margin: auto;

    max-width: 79%;
    padding-top: 1em;

}