.item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.item-enter {
    opacity: 0.01;
}

.item-enter.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.item-leave {
    opacity: 1;
}

.item-leave.item-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.icon_img{
    padding: 1;
    width: 20%;
}

@media (max-width: 767px) {
    .icon_img {
        width: 80%;
        padding:0.6em        
        
    }
}
.bg_image{
    background-repeat: repeat;
    opacity: 0.4;
    width: 50%;
    
}