.button {
    border: none;
    background-color: transparent;
    color: white;
    padding: 0.4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.white {
    color: gray;
}

.button:disabled {
    color: gray;
}

.navbar-icon {
    width: 24px;
    height: 24px;
    margin: 0.2em;
}